llama-index-core>=0.11.0,<0.12.0
llama-index-llms-ollama==0.3.0
llama-index-embeddings-ollama==0.3.0
chromadb==0.5.3
pypdf>=4.2.0
sentencepiece>=0.2.0
llama-index-vector-stores-chroma>=0.2.0,<0.3.0
llama-index-readers-file>=0.3.0,<0.4.0
llama-index-retrievers-bm25>=0.3.0